.bottom-tab-area {
  display: none;
}

@include media-breakpoint-down(sm) {
  .bottom-tab-area {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 100vw;
    overflow-x: scroll;
    bottom: 0;
    z-index: 99999;

    #bottom-tab {
        background-color: #fff;
    
        .bottom-tab-nav {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          padding: 16px;
          margin: 0;
          overflow-x: scroll;
    
          li {
            .bottom-link {
              background-color: #fff;
              border-radius: 50px;
              width: fit-content;
              gap: 0;
    
              color: green;
    
              .link-text {
                font-size: 0;
              }
            }
    
            .bottom-link.active {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0 16px;
    
              border-radius: 50px;
              background-color: green;
    
              width: fit-content;
              padding: 8px 24px;
    
              transition: all .8s ease-in-out;
    
              color: #fff;
    
              .link-text {
                font-size: 14px;
                font-family: 'Lexend', sans-serif;
                transition: font-size .2s ease-in-out;
              }
    
              .link-text.small {
                width: 120px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
  }
}