@import url("https://fonts.googleapis.com/css2?family=Roboto");

// Body
$body-bg: #f8fafc;

// Typography
$font-base: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$dark: #343a40;

$green-base: #25661a;
$cadmium-green: #135D2A;
$hunter-green: #476D4C;
$medium-sea-green: #55AD6A;
$vermilion: #D23827;
$dark-vermilion:#96261a;
$green-base-hover: #ffffff1c;
